CSV_QueryRecord_ExecuteSql.json
{"flowContents":{"identifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","instanceIdentifier":"d66bfcd3-d057-33fe-9ac6-3ef3546b8d0c","name":"CSV QueryRecord ExecuteSql","comments":"","position":{"x":-256.0,"y":552.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6af32dc4-05ef-37c3-b7d7-2d4a995c960b","instanceIdentifier":"d7c404cc-8f52-31e2-d5ed-e89be02bcbcc","name":"GenerateFlowFile","comments":"","position":{"x":280.0,"y":8.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"first_name, last_name, city_name\nJohn, Doe, Dallas","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"d7443142-042f-3596-ae7f-f1c42a4cfae7","instanceIdentifier":"82f83248-2eb4-318f-cae3-dbdacec54893","name":"ExecuteSQL","comments":"","position":{"x":288.0,"y":576.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8f444c9b-b9e5-3458-a4d6-272c6ce5e7b7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT city_id FROM CITY WHERE city_name=${city_name}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"9d04469a-50dd-3142-97b0-1c3cdc2eb957","instanceIdentifier":"acf23860-25cf-356b-87b3-4479c64b0ce4","name":"QueryRecord","comments":"","position":{"x":280.0,"y":200.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","city_name":"SELECT city_name FROM FLOWFILE","record-writer":"941b7f15-44a3-34bc-a4b4-a302faef0876","record-reader":"4c984cee-d8d4-30a4-b550-e55732ac5970","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"city_name":{"name":"city_name","displayName":"city_name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"6f25532b-2b48-3bae-915a-0dd992917365","instanceIdentifier":"0c52bd75-3ae9-3f98-d406-4473940cc8ec","name":"EvaluateJsonPath","comments":"","position":{"x":280.0,"y":384.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Destination":"flowfile-attribute","city_name":"$[0].city_name","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"city_name":{"name":"city_name","displayName":"city_name","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"}],"inputPorts":[],"outputPorts":[{"identifier":"74d35808-23a1-311f-b91d-1d057c4249b4","instanceIdentifier":"6d9ae4e0-0add-348d-cfbd-70d2e38e4cb3","name":"Watch Failures","comments":"","position":{"x":845.0000113995623,"y":236.99997720087555},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"491fb687-d6ea-3143-8beb-96d575c14421","instanceIdentifier":"2e7ee4d3-9bd8-3167-88d0-cb893a5fd80d","name":"Output","position":{"x":344.0,"y":768.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"}],"connections":[{"identifier":"4d8defe5-8990-336d-8c80-96b0ba7b89dd","instanceIdentifier":"1633c441-573b-389f-6738-781ea3dc3160","name":"","source":{"id":"6f25532b-2b48-3bae-915a-0dd992917365","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0c52bd75-3ae9-3f98-d406-4473940cc8ec"},"destination":{"id":"74d35808-23a1-311f-b91d-1d057c4249b4","type":"OUTPUT_PORT","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"Watch Failures","comments":"","instanceIdentifier":"6d9ae4e0-0add-348d-cfbd-70d2e38e4cb3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":784.0,"y":432.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"ed71191d-af6c-3139-af88-1b8aa18fb113","instanceIdentifier":"6bc9e775-443d-3986-fedb-6c1b8742fbe8","name":"","source":{"id":"9d04469a-50dd-3142-97b0-1c3cdc2eb957","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"QueryRecord","comments":"","instanceIdentifier":"acf23860-25cf-356b-87b3-4479c64b0ce4"},"destination":{"id":"74d35808-23a1-311f-b91d-1d057c4249b4","type":"OUTPUT_PORT","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"Watch Failures","comments":"","instanceIdentifier":"6d9ae4e0-0add-348d-cfbd-70d2e38e4cb3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"ef2a77dd-a34f-3beb-8379-eaeefd154810","instanceIdentifier":"a2232226-38ab-3bb3-6eb5-5fa3fd99fd74","name":"","source":{"id":"9d04469a-50dd-3142-97b0-1c3cdc2eb957","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"QueryRecord","comments":"","instanceIdentifier":"acf23860-25cf-356b-87b3-4479c64b0ce4"},"destination":{"id":"6f25532b-2b48-3bae-915a-0dd992917365","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0c52bd75-3ae9-3f98-d406-4473940cc8ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["city_name"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"2acd34ae-36da-3e6c-b358-5afe8bdc83ef","instanceIdentifier":"4e52b427-4143-3062-fa6d-b8a36ba48246","name":"","source":{"id":"6f25532b-2b48-3bae-915a-0dd992917365","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0c52bd75-3ae9-3f98-d406-4473940cc8ec"},"destination":{"id":"d7443142-042f-3596-ae7f-f1c42a4cfae7","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"ExecuteSQL","comments":"","instanceIdentifier":"82f83248-2eb4-318f-cae3-dbdacec54893"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"4fb50172-9dfb-3521-a028-359022e10cfa","instanceIdentifier":"42945587-28b5-3794-2d7f-5d6a68081bb5","name":"","source":{"id":"6af32dc4-05ef-37c3-b7d7-2d4a995c960b","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d7c404cc-8f52-31e2-d5ed-e89be02bcbcc"},"destination":{"id":"9d04469a-50dd-3142-97b0-1c3cdc2eb957","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"QueryRecord","comments":"","instanceIdentifier":"acf23860-25cf-356b-87b3-4479c64b0ce4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"8dfa67a8-3239-33ce-8b2a-4a522c3c9c6a","instanceIdentifier":"915ec63f-1871-30e3-5dbf-4b044ff9f7a6","name":"","source":{"id":"d7443142-042f-3596-ae7f-f1c42a4cfae7","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"ExecuteSQL","comments":"","instanceIdentifier":"82f83248-2eb4-318f-cae3-dbdacec54893"},"destination":{"id":"74d35808-23a1-311f-b91d-1d057c4249b4","type":"OUTPUT_PORT","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"Watch Failures","comments":"","instanceIdentifier":"6d9ae4e0-0add-348d-cfbd-70d2e38e4cb3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":960.0,"y":648.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"070c6a4a-7251-3944-a8f6-0bde2496f57e","instanceIdentifier":"ab32ab61-b2fd-324f-c0b2-3267123af871","name":"","source":{"id":"d7443142-042f-3596-ae7f-f1c42a4cfae7","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"ExecuteSQL","comments":"","instanceIdentifier":"82f83248-2eb4-318f-cae3-dbdacec54893"},"destination":{"id":"491fb687-d6ea-3143-8beb-96d575c14421","type":"OUTPUT_PORT","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"Output","instanceIdentifier":"2e7ee4d3-9bd8-3167-88d0-cb893a5fd80d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"96ba1ac5-e0ca-3296-8316-6713bd620e06","instanceIdentifier":"3e6ab72e-1097-3f1b-1d9c-55383888cc3e","name":"","source":{"id":"6f25532b-2b48-3bae-915a-0dd992917365","type":"PROCESSOR","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0c52bd75-3ae9-3f98-d406-4473940cc8ec"},"destination":{"id":"74d35808-23a1-311f-b91d-1d057c4249b4","type":"OUTPUT_PORT","groupId":"48361e9c-339e-3d72-9907-1f3d09ddb0ad","name":"Watch Failures","comments":"","instanceIdentifier":"6d9ae4e0-0add-348d-cfbd-70d2e38e4cb3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"941b7f15-44a3-34bc-a4b4-a302faef0876","instanceIdentifier":"f83f2fd8-57f5-3169-4069-1002f5486b9d","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"8f444c9b-b9e5-3458-a4d6-272c6ce5e7b7","instanceIdentifier":"2f10a8b1-7923-37ca-d0b7-843e21006c61","name":"DBCPConnectionPool","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.21.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":null,"dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":null,"dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"},{"identifier":"4c984cee-d8d4-30a4-b550-e55732ac5970","instanceIdentifier":"12e32cee-d202-344f-931d-e26bf2b646f5","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"48361e9c-339e-3d72-9907-1f3d09ddb0ad"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}