CSV_to_Table_Demo.json
{"flowContents":{"identifier":"abf7b094-3313-3617-811a-f712cf8ececb","instanceIdentifier":"16689748-53ce-3d84-f944-e2de30798d74","name":"CSV to Table Demo","comments":"","position":{"x":2200.623655913979,"y":674.3494623655914},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"946ea8af-3068-33e8-9127-9b5a140b66b7","instanceIdentifier":"076588e9-45f2-3597-4f65-43b89789c17b","name":"ReplaceText","comments":"","position":{"x":-139.0388719942232,"y":301.2611581187171},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"<table><tr><td>\n${'$1':replace(',','</td><td>'):replace('\\n','</td></tr>\\n<tr><td>')}\n</table>","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf7b094-3313-3617-811a-f712cf8ececb"},{"identifier":"9715b6cd-779b-3dc7-84cb-7e5ace67345e","instanceIdentifier":"ae02646b-b3c0-3726-5ccc-c3131bae5573","name":"GenerateFlowFile","comments":"","position":{"x":-140.57790073905085,"y":78.10521808555313},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"Release Cause,Previous Count,Current Count,Change_Ratio,SEVERITY\nSIP: [487] Request Terminated,173,393,1.271676300578034682,Critical","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"abf7b094-3313-3617-811a-f712cf8ececb"}],"inputPorts":[],"outputPorts":[{"identifier":"c495f6a3-2e47-3a68-b210-93b2b8ba02d5","instanceIdentifier":"38623b72-9967-30d9-fe80-837f79741edb","name":"Output","position":{"x":-91.57790649436788,"y":517.0000075204024},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"abf7b094-3313-3617-811a-f712cf8ececb"}],"connections":[{"identifier":"24ac7da6-3c16-3b91-971d-ace6c0196b3f","instanceIdentifier":"c4809596-5f2e-3705-4464-0da96b8ea9c9","name":"","source":{"id":"946ea8af-3068-33e8-9127-9b5a140b66b7","type":"PROCESSOR","groupId":"abf7b094-3313-3617-811a-f712cf8ececb","name":"ReplaceText","comments":"","instanceIdentifier":"076588e9-45f2-3597-4f65-43b89789c17b"},"destination":{"id":"c495f6a3-2e47-3a68-b210-93b2b8ba02d5","type":"OUTPUT_PORT","groupId":"abf7b094-3313-3617-811a-f712cf8ececb","name":"Output","instanceIdentifier":"38623b72-9967-30d9-fe80-837f79741edb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-219.80838924429554,"y":474.1305828195598}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf7b094-3313-3617-811a-f712cf8ececb"},{"identifier":"1ea01fff-0caa-3dcd-a5ff-2ef9805c5fe7","instanceIdentifier":"1be7b6fc-74d5-3918-0d6c-86dfaf383f89","name":"","source":{"id":"946ea8af-3068-33e8-9127-9b5a140b66b7","type":"PROCESSOR","groupId":"abf7b094-3313-3617-811a-f712cf8ececb","name":"ReplaceText","comments":"","instanceIdentifier":"076588e9-45f2-3597-4f65-43b89789c17b"},"destination":{"id":"c495f6a3-2e47-3a68-b210-93b2b8ba02d5","type":"OUTPUT_PORT","groupId":"abf7b094-3313-3617-811a-f712cf8ececb","name":"Output","instanceIdentifier":"38623b72-9967-30d9-fe80-837f79741edb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf7b094-3313-3617-811a-f712cf8ececb"},{"identifier":"687b5ed0-c499-38ef-bed2-881d13d47dd4","instanceIdentifier":"803e9415-7d3c-35c9-5c4d-3f187cdab741","name":"","source":{"id":"9715b6cd-779b-3dc7-84cb-7e5ace67345e","type":"PROCESSOR","groupId":"abf7b094-3313-3617-811a-f712cf8ececb","name":"GenerateFlowFile","comments":"","instanceIdentifier":"ae02646b-b3c0-3726-5ccc-c3131bae5573"},"destination":{"id":"946ea8af-3068-33e8-9127-9b5a140b66b7","type":"PROCESSOR","groupId":"abf7b094-3313-3617-811a-f712cf8ececb","name":"ReplaceText","comments":"","instanceIdentifier":"076588e9-45f2-3597-4f65-43b89789c17b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abf7b094-3313-3617-811a-f712cf8ececb"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}