Get_Assets_S3_to_TMP.json
{"flowContents":{"identifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","instanceIdentifier":"3745cc28-3bd9-38e5-b402-fea919d47b8f","name":"Get Assets S3 SAAS","comments":"","position":{"x":1336.0,"y":432.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"076fc60e-b37a-3a2c-bce3-fb4dac0c181d","instanceIdentifier":"c800293a-74bd-332d-bc4c-2f3a2d98d850","name":"PutFile","comments":"","position":{"x":880.0,"y":856.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"3b0bb50d-99ce-3aa8-b44a-592940735903","instanceIdentifier":"5f1032d7-7fef-12fa-b170-822499c6d18d","name":"GenerateFlowFile","comments":"","position":{"x":880.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"filename":"jars/ojdbc8.jar","generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"a9ca869f-9293-3373-9027-a6d4360bb0d9","instanceIdentifier":"bd89997e-0180-1000-0000-00002aeb720f","name":"RouteOnAttribute","comments":"","position":{"x":880.0,"y":664.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Routing Strategy":"Route to Property name","jars":"${filename:endsWith('.jar')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"jars":{"name":"jars","displayName":"jars","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"82fae151-d8c8-3ced-b234-e57d4ca438ef","instanceIdentifier":"f63fca72-9ffa-16e5-ffff-ffffe67bfe9a","name":"FetchS3Object","comments":"","position":{"x":880.0,"y":294.5754089355469},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Proxy Host":null,"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"srm-nifi-demo","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"0496ba66-a0e1-3352-a988-76bcb97a5c42","instanceIdentifier":"e0c03e75-9686-1264-85e8-7976bf3123fa","name":"FetchFile","comments":"","position":{"x":880.0,"y":96.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"/tmp/ojdbc8.jar","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","permission.denied"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"d5348554-3975-31cb-a70a-edd7944ed3a8","instanceIdentifier":"b1263f05-342b-1685-8a7a-0ce49691c573","name":"UpdateAttribute","comments":"","position":{"x":880.0,"y":480.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringAfterLast(\"jars/\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"}],"inputPorts":[],"outputPorts":[{"identifier":"50cba662-e5ba-354c-9fed-3975dc55f6aa","instanceIdentifier":"be1c2219-1620-39d9-aef8-e548a10b4592","name":"EOL","comments":"","position":{"x":928.0,"y":1072.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"}],"connections":[{"identifier":"13917172-5930-336a-a6a1-775a2c9a2325","instanceIdentifier":"bd8abcaf-0180-1000-ffff-ffffb9bc7efd","name":"","source":{"id":"a9ca869f-9293-3373-9027-a6d4360bb0d9","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"bd89997e-0180-1000-0000-00002aeb720f"},"destination":{"id":"076fc60e-b37a-3a2c-bce3-fb4dac0c181d","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"PutFile","comments":"","instanceIdentifier":"c800293a-74bd-332d-bc4c-2f3a2d98d850"},"labelIndex":1,"zIndex":0,"selectedRelationships":["jars"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"dcc70bf7-47f9-394e-96f0-7c203a91be88","instanceIdentifier":"bd89b6ed-0180-1000-ffff-ffffd4236912","name":"","source":{"id":"d5348554-3975-31cb-a70a-edd7944ed3a8","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"UpdateAttribute","comments":"","instanceIdentifier":"b1263f05-342b-1685-8a7a-0ce49691c573"},"destination":{"id":"a9ca869f-9293-3373-9027-a6d4360bb0d9","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"bd89997e-0180-1000-0000-00002aeb720f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"1467102d-2146-3cfb-9525-2176cf2fa217","instanceIdentifier":"f63fca87-9ffa-16e5-ffff-ffffa6b0911a","name":"","source":{"id":"82fae151-d8c8-3ced-b234-e57d4ca438ef","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"FetchS3Object","comments":"","instanceIdentifier":"f63fca72-9ffa-16e5-ffff-ffffe67bfe9a"},"destination":{"id":"82fae151-d8c8-3ced-b234-e57d4ca438ef","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"FetchS3Object","comments":"","instanceIdentifier":"f63fca72-9ffa-16e5-ffff-ffffe67bfe9a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1346.969482421875,"y":333.6972351074219},{"x":1346.969482421875,"y":383.6972351074219}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"260925a2-073e-3019-a8eb-b014d07ac3d8","instanceIdentifier":"bd8ca835-0180-1000-ffff-ffff83a32d5c","name":"","source":{"id":"0496ba66-a0e1-3352-a988-76bcb97a5c42","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"FetchFile","comments":"","instanceIdentifier":"e0c03e75-9686-1264-85e8-7976bf3123fa"},"destination":{"id":"82fae151-d8c8-3ced-b234-e57d4ca438ef","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"FetchS3Object","comments":"","instanceIdentifier":"f63fca72-9ffa-16e5-ffff-ffffe67bfe9a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"e4a5aace-c524-31d3-87d8-cb0e32dcba08","instanceIdentifier":"f63fca83-9ffa-16e5-0000-0000384ecaf6","name":"","source":{"id":"82fae151-d8c8-3ced-b234-e57d4ca438ef","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"FetchS3Object","comments":"","instanceIdentifier":"f63fca72-9ffa-16e5-ffff-ffffe67bfe9a"},"destination":{"id":"d5348554-3975-31cb-a70a-edd7944ed3a8","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"UpdateAttribute","comments":"","instanceIdentifier":"b1263f05-342b-1685-8a7a-0ce49691c573"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"758b66e3-40ba-32b8-83ba-8f7aca35d1fb","instanceIdentifier":"61123a1d-5754-1913-ac58-b74d5068af83","name":"","source":{"id":"3b0bb50d-99ce-3aa8-b44a-592940735903","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"5f1032d7-7fef-12fa-b170-822499c6d18d"},"destination":{"id":"0496ba66-a0e1-3352-a988-76bcb97a5c42","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"FetchFile","comments":"","instanceIdentifier":"e0c03e75-9686-1264-85e8-7976bf3123fa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"5800750e-6e98-3c3e-ac7f-5f845816612c","instanceIdentifier":"b13f4a46-8148-3348-ba74-8a5c1d534ac8","name":"","source":{"id":"076fc60e-b37a-3a2c-bce3-fb4dac0c181d","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"PutFile","comments":"","instanceIdentifier":"c800293a-74bd-332d-bc4c-2f3a2d98d850"},"destination":{"id":"50cba662-e5ba-354c-9fed-3975dc55f6aa","type":"OUTPUT_PORT","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"EOL","comments":"","instanceIdentifier":"be1c2219-1620-39d9-aef8-e548a10b4592"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1288.0,"y":1024.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"},{"identifier":"a343fc49-8be1-30b7-b143-b450da2fd219","instanceIdentifier":"80055557-a412-34cd-8c1c-eb6f5a936583","name":"","source":{"id":"076fc60e-b37a-3a2c-bce3-fb4dac0c181d","type":"PROCESSOR","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"PutFile","comments":"","instanceIdentifier":"c800293a-74bd-332d-bc4c-2f3a2d98d850"},"destination":{"id":"50cba662-e5ba-354c-9fed-3975dc55f6aa","type":"OUTPUT_PORT","groupId":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f","name":"EOL","comments":"","instanceIdentifier":"be1c2219-1620-39d9-aef8-e548a10b4592"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ba7aab4d-cd4d-3ee5-acb4-42a784edf26f"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}