InvokeHttp_Demo_2.json
{"flowContents":{"identifier":"7b6f280a-8a61-3582-a738-5992463ad995","instanceIdentifier":"9fc44eb2-de71-3d01-0cea-59f182a467bf","name":"InvokeHttp Demo 2","comments":"","position":{"x":1883.3121019108278,"y":1163.4012738853503},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"aa073c23-8637-33b5-b5b0-89a5765588cb","instanceIdentifier":"7d5f0b90-01c8-3da0-7990-5ccf4b9fcc8b","name":"UpdateAttribute","comments":"","position":{"x":-1325.2468861946622,"y":1637.9467715046399},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0"},"properties":{"Continent":"test","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"Code":"A-5678"},"propertyDescriptors":{"Continent":{"name":"Continent","displayName":"Continent","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"Code":{"name":"Code","displayName":"Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"8ccdc70e-de15-3c0f-89ed-b96ca0d0fbb4","instanceIdentifier":"d8dd02dc-aae5-3796-4295-4e03a07498a8","name":"AttributesToJSON","comments":"","position":{"x":-1310.546141542163,"y":1948.4224208384207},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"Code,Continent,Longitude,Latitude","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"305fb24d-8ce7-3aba-916f-cacb7ddcfb58","instanceIdentifier":"d0072554-d2a3-3a52-17e0-2e0142d5534a","name":"EvaluateJsonPath","comments":"","position":{"x":-1771.3841719615093,"y":1953.500434695855},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","Latitude":"$.Latitude","Longitude":"$.Longitude","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Latitude":{"name":"Latitude","displayName":"Latitude","identifiesControllerService":false,"sensitive":false},"Longitude":{"name":"Longitude","displayName":"Longitude","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"2551b455-1d57-3cae-9d4c-5293aef1d3b6","instanceIdentifier":"5445678b-65b5-351b-0085-01adbe3ee0c2","name":"InvokeHTTP","comments":"","position":{"x":-463.75992408165575,"y":1947.9802926870493},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"e6b17bf2-fa23-3cce-9026-6f16d3d4b3ad","instanceIdentifier":"84f458cb-29f6-3b8d-370f-1ddec25a0558","name":"GenerateFlowFile","comments":"","position":{"x":-1780.3723744759122,"y":1627.0599306843274},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{ \"Longitude\": \"5.969756\", \"Latitude\": \"78.495603\" }","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"}],"inputPorts":[],"outputPorts":[{"identifier":"9d72406f-de0b-35a8-a1d7-c6a842c09765","instanceIdentifier":"aaf7279d-fa2f-34b5-0fba-4451189c80c6","name":"Response","comments":"","position":{"x":-433.533202112631,"y":2183.7891787312024},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"47d65dda-65bb-3dda-a14a-420c81722766","instanceIdentifier":"37c4d9da-83b0-3cae-bd74-74f80bf9c1b0","name":"ERRORS","position":{"x":-1507.3227705943218,"y":2211.214356788132},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"}],"connections":[{"identifier":"187e8db2-78a4-3df9-93dc-94c317dac7ac","instanceIdentifier":"182a70f6-b7b1-3b4e-b8ce-e9ef318f08d2","name":"","source":{"id":"2551b455-1d57-3cae-9d4c-5293aef1d3b6","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"InvokeHTTP","comments":"","instanceIdentifier":"5445678b-65b5-351b-0085-01adbe3ee0c2"},"destination":{"id":"9d72406f-de0b-35a8-a1d7-c6a842c09765","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"Response","comments":"","instanceIdentifier":"aaf7279d-fa2f-34b5-0fba-4451189c80c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-754.475573106909,"y":2131.519562369282}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"d0dd53c6-8c7f-33ac-a28f-ed67536fb396","instanceIdentifier":"8b708bcd-b24f-365d-db6f-38683780e599","name":"","source":{"id":"e6b17bf2-fa23-3cce-9026-6f16d3d4b3ad","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"GenerateFlowFile","comments":"","instanceIdentifier":"84f458cb-29f6-3b8d-370f-1ddec25a0558"},"destination":{"id":"305fb24d-8ce7-3aba-916f-cacb7ddcfb58","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0072554-d2a3-3a52-17e0-2e0142d5534a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"5a25b3d8-3138-3e59-8917-1279bf0ce2a1","instanceIdentifier":"4c474bbf-e9b5-36e8-f316-fab73460c93e","name":"","source":{"id":"8ccdc70e-de15-3c0f-89ed-b96ca0d0fbb4","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"AttributesToJSON","comments":"","instanceIdentifier":"d8dd02dc-aae5-3796-4295-4e03a07498a8"},"destination":{"id":"47d65dda-65bb-3dda-a14a-420c81722766","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"ERRORS","instanceIdentifier":"37c4d9da-83b0-3cae-bd74-74f80bf9c1b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"066476b8-bc86-399b-9132-7867b294410b","instanceIdentifier":"255a967a-0393-39bd-5a16-a4caafad9d5d","name":"","source":{"id":"8ccdc70e-de15-3c0f-89ed-b96ca0d0fbb4","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"AttributesToJSON","comments":"","instanceIdentifier":"d8dd02dc-aae5-3796-4295-4e03a07498a8"},"destination":{"id":"2551b455-1d57-3cae-9d4c-5293aef1d3b6","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"InvokeHTTP","comments":"","instanceIdentifier":"5445678b-65b5-351b-0085-01adbe3ee0c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"40bf27ac-ba38-3065-8f30-368f3819f3f7","instanceIdentifier":"075d46b2-e66e-3ba6-6dc8-35191bb7676e","name":"","source":{"id":"2551b455-1d57-3cae-9d4c-5293aef1d3b6","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"InvokeHTTP","comments":"","instanceIdentifier":"5445678b-65b5-351b-0085-01adbe3ee0c2"},"destination":{"id":"9d72406f-de0b-35a8-a1d7-c6a842c09765","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"Response","comments":"","instanceIdentifier":"aaf7279d-fa2f-34b5-0fba-4451189c80c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-530.8770013295652,"y":2131.250031119282}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"5ab359a4-8b51-3a7a-b27b-b6158c1eee55","instanceIdentifier":"b4a54894-5717-36fa-07fd-a55fc5ce24f2","name":"","source":{"id":"2551b455-1d57-3cae-9d4c-5293aef1d3b6","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"InvokeHTTP","comments":"","instanceIdentifier":"5445678b-65b5-351b-0085-01adbe3ee0c2"},"destination":{"id":"9d72406f-de0b-35a8-a1d7-c6a842c09765","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"Response","comments":"","instanceIdentifier":"aaf7279d-fa2f-34b5-0fba-4451189c80c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-79.95509581198712,"y":2130.710968619282}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"ae9f213c-7471-372f-9e8a-4c36b17cc3df","instanceIdentifier":"1d2f62e8-b83e-3071-4ad4-ac7c33d3cdd3","name":"","source":{"id":"aa073c23-8637-33b5-b5b0-89a5765588cb","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"UpdateAttribute","comments":"","instanceIdentifier":"7d5f0b90-01c8-3da0-7990-5ccf4b9fcc8b"},"destination":{"id":"8ccdc70e-de15-3c0f-89ed-b96ca0d0fbb4","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"AttributesToJSON","comments":"","instanceIdentifier":"d8dd02dc-aae5-3796-4295-4e03a07498a8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"e0b32ae9-eb14-339f-baa2-b4d5c56bdbe0","instanceIdentifier":"3171da92-7a4b-3f30-9109-033e8d14fc42","name":"","source":{"id":"2551b455-1d57-3cae-9d4c-5293aef1d3b6","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"InvokeHTTP","comments":"","instanceIdentifier":"5445678b-65b5-351b-0085-01adbe3ee0c2"},"destination":{"id":"9d72406f-de0b-35a8-a1d7-c6a842c09765","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"Response","comments":"","instanceIdentifier":"aaf7279d-fa2f-34b5-0fba-4451189c80c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-976.6963983022215,"y":2130.250031119282}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"2800095a-9af1-338f-839c-bd15b7d5c3b8","instanceIdentifier":"8e8c4de6-d79f-39d8-fb5d-d9128265518d","name":"","source":{"id":"305fb24d-8ce7-3aba-916f-cacb7ddcfb58","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0072554-d2a3-3a52-17e0-2e0142d5534a"},"destination":{"id":"aa073c23-8637-33b5-b5b0-89a5765588cb","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"UpdateAttribute","comments":"","instanceIdentifier":"7d5f0b90-01c8-3da0-7990-5ccf4b9fcc8b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"1a5f3baa-a687-3767-b592-b7eb70552610","instanceIdentifier":"3b76d4dd-5103-3db0-e1de-d3f550557f17","name":"","source":{"id":"305fb24d-8ce7-3aba-916f-cacb7ddcfb58","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0072554-d2a3-3a52-17e0-2e0142d5534a"},"destination":{"id":"47d65dda-65bb-3dda-a14a-420c81722766","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"ERRORS","instanceIdentifier":"37c4d9da-83b0-3cae-bd74-74f80bf9c1b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"f0c69d70-df1d-337e-b6f8-6aea46ebc337","instanceIdentifier":"9962839d-6beb-3f22-c895-9d18db244084","name":"","source":{"id":"305fb24d-8ce7-3aba-916f-cacb7ddcfb58","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0072554-d2a3-3a52-17e0-2e0142d5534a"},"destination":{"id":"47d65dda-65bb-3dda-a14a-420c81722766","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"ERRORS","instanceIdentifier":"37c4d9da-83b0-3cae-bd74-74f80bf9c1b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"9a16fd88-042e-33e9-a9ae-f06876489150","instanceIdentifier":"c05917fe-1254-346c-4c7c-a2bed94f8acf","name":"","source":{"id":"2551b455-1d57-3cae-9d4c-5293aef1d3b6","type":"PROCESSOR","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"InvokeHTTP","comments":"","instanceIdentifier":"5445678b-65b5-351b-0085-01adbe3ee0c2"},"destination":{"id":"9d72406f-de0b-35a8-a1d7-c6a842c09765","type":"OUTPUT_PORT","groupId":"7b6f280a-8a61-3582-a738-5992463ad995","name":"Response","comments":"","instanceIdentifier":"aaf7279d-fa2f-34b5-0fba-4451189c80c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"}],"labels":[{"identifier":"18f0aee8-79a0-37c8-81d5-5447809aec86","instanceIdentifier":"dad1586b-710b-3f52-1cd4-b71d0e33d6ca","position":{"x":-584.1426381477872,"y":2245.5548037312024},"label":"Notice use of Output Port for all relationships\nfrom InvokeHTTP. All are routed during initial testing\nbefore auto termination","zIndex":0,"width":595.0,"height":103.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"15fc77a7-9f44-3f28-8b8d-14b407ed1c62","instanceIdentifier":"92e03172-cc7c-3ba2-4dd0-1196c1e4cf21","position":{"x":-1596.9429921516935,"y":2275.236566426515},"label":"Notice use of Output Port for Errors\nLeave these routed during testing and\nthen auto terminate later, or route the\noutput port to an  Error Notification Handler.","zIndex":0,"width":492.9417724609375,"height":140.85916137695312,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"b55fbb88-da6c-3a45-b093-997f7fa34803","instanceIdentifier":"51d8b9b8-0e88-3b12-477f-ec30bf1b2c85","position":{"x":-1490.8189582627579,"y":1893.832533777497},"label":"INSPECT QUEUE attributes ensure that each step is correct before proceeding","zIndex":0,"width":915.5244445800781,"height":45.39053726196289,"style":{"background-color":"#0ed2f5","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"},{"identifier":"2dcd131a-bac3-316a-9c86-9a5020d986ea","instanceIdentifier":"b498c881-45a3-3776-4dc7-a5ae09e3c925","position":{"x":-1827.24331774647,"y":1365.7097147849233},"label":"Notice schedule here set to 15 secs.\nThis allows start, stop on Generate Flow\nto switch flow on.  Do not leave this\nprocessor On.  Only toggle to generate\na single flow file, and test it through flow.\nWhen testing complete, evaluate required\ntiming to start and run flow for production.","zIndex":0,"width":478.8073425292969,"height":229.98016357421875,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"7b6f280a-8a61-3582-a738-5992463ad995"}],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}