Oracle-Kafka-To-Kudu.json
{"flowContents":{"identifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c","name":"kafka-to-kudu","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4a5589cd-78b3-3e7d-85ba-9280835a4f6b","name":"WriteToKudu","comments":"","position":{"x":576.0,"y":640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.kudu.PutKudu","properties":{"Ignore NULL":"false","Table Name":"default.#{Kudu Table Name}","kerberos-password":"#{CDP Workload User Password}","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":"#{CDP Workload User}","Lowercase Field Names":"true","Insert Operation":"#{Kudu Operation Type}","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"#{Kudu Master Hosts}","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"21bd82a6-efee-3367-ab1c-fdf22244e84f","worker-count":"4","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"a8f3d755-a00d-3cec-8ad4-e62f39752a4c","name":"ConsumeKafka_2_6","comments":"","position":{"x":576.0,"y":376.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"#{Kafka Consumer Group ID}","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"false","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":"#{CDP Workload User}","max.poll.records":"10000","security.protocol":"SASL_SSL","ssl.context.service":"25675f88-6673-339c-a68f-ffeef460dd82","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Source Topic}","separate-by-key":"true","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d09cc5e4-8230-381e-87fb-7e6935fe2f1a","name":"failure_WriteToKudu","source":{"id":"4a5589cd-78b3-3e7d-85ba-9280835a4f6b","type":"PROCESSOR","groupId":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c","name":"WriteToKudu","comments":""},"destination":{"id":"4a5589cd-78b3-3e7d-85ba-9280835a4f6b","type":"PROCESSOR","groupId":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c","name":"WriteToKudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":777.2930297851562,"y":846.7069702148438},{"x":737.2930297851562,"y":902.7069702148438}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"be2f9aa4-2bda-325b-b27e-f04ba8088a4d","name":"","source":{"id":"a8f3d755-a00d-3cec-8ad4-e62f39752a4c","type":"PROCESSOR","groupId":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c","name":"ConsumeKafka_2_6","comments":""},"destination":{"id":"4a5589cd-78b3-3e7d-85ba-9280835a4f6b","type":"PROCESSOR","groupId":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c","name":"WriteToKudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"9a5d3c6a-85e1-35da-89ee-8a65e78a3d79","name":"JSON_Message_Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"1fb9f2bc-7ee8-37c9-ae0a-61ba8c675ec1","name":"Parameterized_Message_Writer","comments":"","type":"org.apache.nifi.lookup.RecordSetWriterLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"CSV":"7e826459-ee99-3905-8596-e6e612e6c2de","JSON":"9a5d3c6a-85e1-35da-89ee-8a65e78a3d79","AVRO":"6f65cbb7-d165-38bb-a964-0bef78b78115","Service to Use":"${recordsetwriter.name}"},"propertyDescriptors":{"CSV":{"name":"CSV","displayName":"CSV","identifiesControllerService":true,"sensitive":false},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":true,"sensitive":false},"AVRO":{"name":"AVRO","displayName":"AVRO","identifiesControllerService":true,"sensitive":false},"Service to Use":{"name":"Service to Use","displayName":"Service to Use","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"6f65cbb7-d165-38bb-a964-0bef78b78115","name":"Avro_Message_Writer","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"181c1564-e2a2-3e96-810d-4970070595d7","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"21bd82a6-efee-3367-ab1c-fdf22244e84f","name":"JSON_Message_Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"#{Schema Name}","schema-registry":"181c1564-e2a2-3e96-810d-4970070595d7","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"181c1564-e2a2-3e96-810d-4970070595d7","name":"CDP_Schema_Registry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"25675f88-6673-339c-a68f-ffeef460dd82","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"b7807415-b0c8-3463-a927-73af70a91188","name":"Avro_Message_Reader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"181c1564-e2a2-3e96-810d-4970070595d7","schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"bb30225d-771d-33b2-8ce6-7edc53b25181","name":"CSV_Message_Reader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"#{CSV Delimiter}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"#{Schema Name}","schema-registry":"181c1564-e2a2-3e96-810d-4970070595d7","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"7e826459-ee99-3905-8596-e6e612e6c2de","name":"CSV_Message_Writer","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"},{"identifier":"603382f3-a53d-32b2-8fe2-32c93254a185","name":"Parameterized_Message_Reader","comments":"","type":"org.apache.nifi.lookup.ReaderLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"CSV":"bb30225d-771d-33b2-8ce6-7edc53b25181","JSON":"21bd82a6-efee-3367-ab1c-fdf22244e84f","AVRO":"b7807415-b0c8-3463-a927-73af70a91188","Service to Use":"#{Data Input Format}"},"propertyDescriptors":{"CSV":{"name":"CSV","displayName":"CSV","identifiesControllerService":true,"sensitive":false},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":true,"sensitive":false},"AVRO":{"name":"AVRO","displayName":"AVRO","identifiesControllerService":true,"sensitive":false},"Service to Use":{"name":"Service to Use","displayName":"Service to Use","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3b3fe4e4-af8a-33b0-8dfa-e3a0a37d780c"}],"variables":{"recordreader.name":"CSV","recordwriter.name":"CSV"},"parameterContextName":"kafka-to-kudu","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"25675f88-6673-339c-a68f-ffeef460dd82":{"identifier":"25675f88-6673-339c-a68f-ffeef460dd82","name":"Default NiFi SSL Context Service"}},"parameterContexts":{"kafka-to-kudu":{"name":"kafka-to-kudu","parameters":[{"name":"CDP Workload User Password","description":"Specify the password of the CDP machine user or workload user you are using to authenticate against Kafka and Kudu.","sensitive":true},{"name":"CDP Workload User","description":"Specify the CDP machine user or workload user name that you want to use to authenticate to Kafka and Kudu. Ensure this user has the appropriate access rights to the Kafka topics and Kudu table.","sensitive":false,"value":"steven.matison"},{"name":"Schema Registry Hostname","description":"Specify the hostname of the Schema Registry you want to connect to. This must be the direct hostname of the Schema Registry itself, not the Knox Endpoint.","sensitive":false,"value":"srm-demo-sm-master0.srm-demo.a465-9q4k.cloudera.site"},{"name":"CSV Delimiter","description":"If your source data is CSV, specify the delimiter here.","sensitive":false,"value":","},{"name":"Kudu Table Name","description":"Specify the Kudu table name you want to write to.","sensitive":false,"value":"inventories"},{"name":"Data Input Format","description":"Specify the format of your input data. You can use \"CSV\", \"JSON\" or \"AVRO\" with this ReadyFlow.","sensitive":false,"value":"JSON"},{"name":"Kafka Consumer Group ID","description":"Specify the id for the consumer group used for the the source topic you are consuming from.","sensitive":false,"value":"read"},{"name":"Kudu Operation Type","description":"Specify the operation that you want to use when writing data to Kudu. Valid values are: INSERT, INSERT_IGNORE, UPSERT, UPDATE, DELETE","sensitive":false,"value":"UPSERT"},{"name":"Kudu Master Hosts","description":"Specify the Kudu Master hostnames in a comma separated list.","sensitive":false,"value":"srm-demo-dm-master10.srm-demo.a465-9q4k.cloudera.site, srm-demo-dm-master20.srm-demo.a465-9q4k.cloudera.site, srm-demo-dm-master30.srm-demo.a465-9q4k.cloudera.site"},{"name":"Kafka Broker Endpoint","description":"Specify the Kafka bootstrap servers string as a comma separated list.","sensitive":false,"value":"srm-demo-sm-corebroker0.srm-demo.a465-9q4k.cloudera.site:9093"},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry.","sensitive":false,"value":"inventories"},{"name":"Kafka Source Topic","description":"Specify a topic name that you want to read from.","sensitive":false,"value":"INVENTORIES"}],"inheritedParameterContexts":[]}},"flowEncodingVersion":"1.0"}