Oracle-Demo.json
{"flowContents":{"identifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"Oracle Demo","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c14d225c-4a63-366d-a2c6-f9d3782e00a1","name":"SplitJson","comments":"","position":{"x":2432.0,"y":960.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{"background-color":"#f70a0a"},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"b8d6b47a-84c9-3877-9c2b-b5406911b627","name":"HANDLE S","comments":"","position":{"x":2664.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"${tableName:substringBeforeLast('S'):append('_ID')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"67156ae6-8abf-32e6-8af0-a05989ad8e07","name":"SplitJson","comments":"","position":{"x":2424.0,"y":160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"74a58272-41dd-3e9d-a6eb-8e275bfa5182","name":"Handle Inventories","comments":"","position":{"x":1912.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"PRODUCT_ID,WAREHOUSE_ID"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"e933ba1c-145b-387e-92c5-9e2fa579a9f3","name":"InvokeHTTP","comments":"","position":{"x":3024.0,"y":1752.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":"#{CDP Workload User Password}","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{Schema Registry API}/schemaregistry/schemas/${name}/versions?branch=MASTER","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"b8eda2e8-1b5f-3939-9e3a-c9dea2f791a8","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Basic Authentication Username":"#{CDP Workload User}","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"49bfd943-27cf-3353-935e-cf50868bed0f","name":"PublishKafka_2_6","comments":"","position":{"x":2264.0,"y":1704.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{Kafka Broker Host}:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":"${kafka.key}","partition":"read","sasl.mechanism":"PLAIN","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"b8eda2e8-1b5f-3939-9e3a-c9dea2f791a8","max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"${tableName}","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"5e200d9e-897f-32e3-8d80-121a1764aca2","name":"AttributesToJSON","comments":"","position":{"x":3024.0,"y":1552.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"schemaText,description","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"f5eb297a-d6ff-3a72-a62b-245c61c4e494","name":"UpdateAttribute","comments":"","position":{"x":3040.0,"y":1336.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","description":"Adding schema to entity via NiFi Data Flow.","Stateful Variables Initial Value":null,"schemaText":"${avro.schema:unescapeJson():replace('\"[','['):replace(']\"',']')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"schemaText":{"name":"schemaText","displayName":"schemaText","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"61805841-e028-36bc-9a54-03f106244393","name":"ExtractAvroMetadata","comments":"","position":{"x":3032.0,"y":552.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.avro.ExtractAvroMetadata","properties":{"Metadata Keys":"avro.schema","Count Items":"false","Fingerprint Algorithm":"CRC-64-AVRO"},"propertyDescriptors":{"Metadata Keys":{"name":"Metadata Keys","displayName":"Metadata Keys","identifiesControllerService":false,"sensitive":false},"Count Items":{"name":"Count Items","displayName":"Count Items","identifiesControllerService":false,"sensitive":false},"Fingerprint Algorithm":{"name":"Fingerprint Algorithm","displayName":"Fingerprint Algorithm","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"2b15817c-3ec4-3206-bcf3-964dc2446a89","name":"EvaluateJsonPath","comments":"","position":{"x":2424.0,"y":352.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","tableName":"$.TABLE_NAME"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"tableName":{"name":"tableName","displayName":"tableName","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"bca384ac-3449-3b67-a5d1-a8ebb9066dba","name":"Handle Order Items","comments":"","position":{"x":1512.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"ORDER_ID,ITEM_ID"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"d22b72d5-f0bf-3968-8879-744667d8d338","name":"HANDLE IES","comments":"","position":{"x":2288.0,"y":1440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"${tableName:substringBeforeLast('IES'):append('S_ID')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"0eaa5be1-d216-3646-9f82-19d3e0f7e9e1","name":"UpdateAttribute","comments":"","position":{"x":3032.0,"y":760.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"evolve":"true","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","name":"${tableName:toLower()}","description":"Schema from Oracle for ${tableName}","Stateful Variables Initial Value":null,"type":"avro","schemaGroup":"oracle","compatibility":"BACKWARD"},"propertyDescriptors":{"evolve":{"name":"evolve","displayName":"evolve","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false},"schemaGroup":{"name":"schemaGroup","displayName":"schemaGroup","identifiesControllerService":false,"sensitive":false},"compatibility":{"name":"compatibility","displayName":"compatibility","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"67d64220-2a3c-3eab-b489-605e48082c98","name":"InvokeHTTP","comments":"","position":{"x":3032.0,"y":1128.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":"#{CDP Workload User Password}","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{Schema Registry API}/schemaregistry/schemas","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"b8eda2e8-1b5f-3939-9e3a-c9dea2f791a8","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Basic Authentication Username":"#{CDP Workload User}","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"7cada4ef-e0c0-3c32-b394-8cbf97a40da7","name":"RouteOnAttribute","comments":"","position":{"x":2424.0,"y":1200.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","inventories":"${tableName:equals('INVENTORIES')}","countries":"${tableName:equals('COUNTRIES')}","order_items":"${tableName:equals('ORDER_ITEMS')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"inventories":{"name":"inventories","displayName":"inventories","identifiesControllerService":false,"sensitive":false},"countries":{"name":"countries","displayName":"countries","identifiesControllerService":false,"sensitive":false},"order_items":{"name":"order_items","displayName":"order_items","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"bc37a3ab-67f4-39bd-ba44-b211b02ff0b2","name":"AttributesToJSON","comments":"","position":{"x":3032.0,"y":944.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"name,type,schemaGroup,description,evolve,compatibility","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"585892bb-2101-39d4-85b4-41c12eef3029","name":"GetOracleTables","comments":"","position":{"x":1248.0,"y":160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"23471b7c-21ae-317d-a367-82bdff50ab30","sql-post-query":null,"dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT table_name FROM all_tables WHERE owner = 'OT'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"be7d0bad-df6d-31f5-9031-a4077dcdcc4b","name":"ExecuteSQL","comments":"","position":{"x":2424.0,"y":552.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"23471b7c-21ae-317d-a367-82bdff50ab30","sql-post-query":null,"dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM OT.${tableName}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"f3949606-c0ea-367c-8ef3-ad5859065b63","name":"ConvertAvroToJSON","comments":"","position":{"x":1848.0,"y":160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"401750f7-6d0f-38de-88c9-9f23afcd9cfe","name":"ConvertRecord","comments":"","position":{"x":2432.0,"y":752.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0.2.3.3.1-2"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"84cb2322-6aae-394d-ad98-ffebba841105","record-reader":"aaaba9c2-888b-319d-9dd5-c42423f321e0","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"}],"inputPorts":[],"outputPorts":[{"identifier":"27b022f9-5f65-336b-b423-6f343eec3fa2","name":"OUTPUT2","comments":"","position":{"x":3072.0,"y":1984.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":true,"componentType":"OUTPUT_PORT","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"3f6412ad-2037-3250-b312-8a864530ad7d","name":"Data","position":{"x":2312.0,"y":1976.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":true,"componentType":"OUTPUT_PORT","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"}],"connections":[{"identifier":"088ded86-54c0-3dba-9a77-befd7cf03acf","name":"","source":{"id":"bca384ac-3449-3b67-a5d1-a8ebb9066dba","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"Handle Order Items","comments":""},"destination":{"id":"49bfd943-27cf-3353-935e-cf50868bed0f","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"PublishKafka_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"bee30416-76f4-3dfc-8456-dd138b0ce7d9","name":"","source":{"id":"be7d0bad-df6d-31f5-9031-a4077dcdcc4b","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ExecuteSQL","comments":""},"destination":{"id":"61805841-e028-36bc-9a54-03f106244393","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ExtractAvroMetadata","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"5ea1ff2e-0f15-3b71-bf86-7969cf17d5ba","name":"","source":{"id":"bc37a3ab-67f4-39bd-ba44-b211b02ff0b2","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"AttributesToJSON","comments":""},"destination":{"id":"67d64220-2a3c-3eab-b489-605e48082c98","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"40209634-3ff7-3702-9d24-341855b15e97","name":"","source":{"id":"2b15817c-3ec4-3206-bcf3-964dc2446a89","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"EvaluateJsonPath","comments":""},"destination":{"id":"be7d0bad-df6d-31f5-9031-a4077dcdcc4b","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ExecuteSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"892e7d32-dadc-3d88-bbe0-0f25609ac0b7","name":"","source":{"id":"7cada4ef-e0c0-3c32-b394-8cbf97a40da7","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"RouteOnAttribute","comments":""},"destination":{"id":"d22b72d5-f0bf-3968-8879-744667d8d338","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"HANDLE IES","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["countries"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"87db2de2-21a9-3555-b409-744b953b2dfb","name":"","source":{"id":"74a58272-41dd-3e9d-a6eb-8e275bfa5182","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"Handle Inventories","comments":""},"destination":{"id":"49bfd943-27cf-3353-935e-cf50868bed0f","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"PublishKafka_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"158abfba-f91a-350c-970f-0bc6ed92c39e","name":"","source":{"id":"5e200d9e-897f-32e3-8d80-121a1764aca2","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"AttributesToJSON","comments":""},"destination":{"id":"e933ba1c-145b-387e-92c5-9e2fa579a9f3","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"b2d13e67-6e22-3330-a5ab-2cae6d3c05a2","name":"","source":{"id":"49bfd943-27cf-3353-935e-cf50868bed0f","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"PublishKafka_2_6","comments":""},"destination":{"id":"3f6412ad-2037-3250-b312-8a864530ad7d","type":"OUTPUT_PORT","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"Data"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"83490c00-9747-3bf1-b1d4-9fc97f600f23","name":"","source":{"id":"7cada4ef-e0c0-3c32-b394-8cbf97a40da7","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"RouteOnAttribute","comments":""},"destination":{"id":"b8d6b47a-84c9-3877-9c2b-b5406911b627","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"HANDLE S","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2856.0,"y":1368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"44a242ff-d3e6-34ed-97d9-20eee40a7129","name":"","source":{"id":"49bfd943-27cf-3353-935e-cf50868bed0f","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"PublishKafka_2_6","comments":""},"destination":{"id":"3f6412ad-2037-3250-b312-8a864530ad7d","type":"OUTPUT_PORT","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"Data"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2680.0,"y":1904.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"28b9d2f3-c3e8-3f11-a20d-b4170ebed3aa","name":"","source":{"id":"c14d225c-4a63-366d-a2c6-f9d3782e00a1","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"SplitJson","comments":""},"destination":{"id":"7cada4ef-e0c0-3c32-b394-8cbf97a40da7","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"5ae5f5c2-8dbf-3143-8090-bdadd63f281b","name":"","source":{"id":"585892bb-2101-39d4-85b4-41c12eef3029","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"GetOracleTables","comments":""},"destination":{"id":"f3949606-c0ea-367c-8ef3-ad5859065b63","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ConvertAvroToJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"da593e08-f538-3ac6-9667-e607d507dc6e","name":"","source":{"id":"f3949606-c0ea-367c-8ef3-ad5859065b63","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ConvertAvroToJSON","comments":""},"destination":{"id":"67156ae6-8abf-32e6-8af0-a05989ad8e07","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"cd3be734-c9d8-3d51-8386-a609af6eb3d2","name":"","source":{"id":"61805841-e028-36bc-9a54-03f106244393","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ExtractAvroMetadata","comments":""},"destination":{"id":"0eaa5be1-d216-3646-9f82-19d3e0f7e9e1","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"7c746729-db97-36a8-a6d2-9c6f6ab55d6f","name":"","source":{"id":"0eaa5be1-d216-3646-9f82-19d3e0f7e9e1","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"UpdateAttribute","comments":""},"destination":{"id":"bc37a3ab-67f4-39bd-ba44-b211b02ff0b2","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"AttributesToJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"2ecafcc2-19e9-3870-9a98-3e0bb1e4de6c","name":"","source":{"id":"7cada4ef-e0c0-3c32-b394-8cbf97a40da7","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"RouteOnAttribute","comments":""},"destination":{"id":"74a58272-41dd-3e9d-a6eb-8e275bfa5182","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"Handle Inventories","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["inventories"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"de65691a-7410-3f09-8f32-354fdbdc2aa6","name":"","source":{"id":"be7d0bad-df6d-31f5-9031-a4077dcdcc4b","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ExecuteSQL","comments":""},"destination":{"id":"401750f7-6d0f-38de-88c9-9f23afcd9cfe","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"2ef22eb4-62e8-3132-8654-be6914f42e76","name":"","source":{"id":"be7d0bad-df6d-31f5-9031-a4077dcdcc4b","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ExecuteSQL","comments":""},"destination":{"id":"be7d0bad-df6d-31f5-9031-a4077dcdcc4b","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ExecuteSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2352.0,"y":648.0},{"x":2232.0,"y":608.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"7e21ca54-70ce-305d-915b-da41d75e4e8e","name":"","source":{"id":"67d64220-2a3c-3eab-b489-605e48082c98","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"destination":{"id":"f5eb297a-d6ff-3a72-a62b-245c61c4e494","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"b36ee1a5-54cb-3b68-ba4d-715a653e25dd","name":"","source":{"id":"67d64220-2a3c-3eab-b489-605e48082c98","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"destination":{"id":"67d64220-2a3c-3eab-b489-605e48082c98","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3501.0,"y":1167.0},{"x":3501.0,"y":1217.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"d5005b8c-0223-3c50-a680-7969b9525a34","name":"","source":{"id":"d22b72d5-f0bf-3968-8879-744667d8d338","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"HANDLE IES","comments":""},"destination":{"id":"49bfd943-27cf-3353-935e-cf50868bed0f","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"PublishKafka_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"82755bb9-a097-3125-aeb9-92678655a90c","name":"","source":{"id":"b8d6b47a-84c9-3877-9c2b-b5406911b627","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"HANDLE S","comments":""},"destination":{"id":"49bfd943-27cf-3353-935e-cf50868bed0f","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"PublishKafka_2_6","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"3762eaaf-eabf-348c-9278-3def8835abdc","name":"","source":{"id":"7cada4ef-e0c0-3c32-b394-8cbf97a40da7","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"RouteOnAttribute","comments":""},"destination":{"id":"bca384ac-3449-3b67-a5d1-a8ebb9066dba","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"Handle Order Items","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["order_items"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"359ba4de-b589-3e06-a554-246258645962","name":"","source":{"id":"e933ba1c-145b-387e-92c5-9e2fa579a9f3","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"destination":{"id":"27b022f9-5f65-336b-b423-6f343eec3fa2","type":"OUTPUT_PORT","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"OUTPUT2","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"413637e8-930c-3381-b84b-790d299e4e38","name":"","source":{"id":"e933ba1c-145b-387e-92c5-9e2fa579a9f3","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"destination":{"id":"e933ba1c-145b-387e-92c5-9e2fa579a9f3","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3493.0,"y":1791.0},{"x":3493.0,"y":1841.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"41d3006a-1c54-3ae2-9473-d654a06412ac","name":"","source":{"id":"67156ae6-8abf-32e6-8af0-a05989ad8e07","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"SplitJson","comments":""},"destination":{"id":"2b15817c-3ec4-3206-bcf3-964dc2446a89","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"7301f176-1a7d-39b7-9a7e-7c949ecafacc","name":"","source":{"id":"401750f7-6d0f-38de-88c9-9f23afcd9cfe","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"ConvertRecord","comments":""},"destination":{"id":"c14d225c-4a63-366d-a2c6-f9d3782e00a1","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"2ad40493-1cad-364f-a26d-06e5d1948f7f","name":"","source":{"id":"f5eb297a-d6ff-3a72-a62b-245c61c4e494","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"UpdateAttribute","comments":""},"destination":{"id":"5e200d9e-897f-32e3-8d80-121a1764aca2","type":"PROCESSOR","groupId":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e","name":"AttributesToJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"}],"labels":[{"identifier":"cc6b0c3c-1da3-34b2-9a1e-5fdd3f3181ce","position":{"x":1216.0,"y":56.0},"label":"Get Oracle Tables & Schema","width":2168.0,"height":88.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"e048af4e-d6cf-3eb0-936f-fb8f94258d57","position":{"x":1808.0,"y":496.0},"label":"Capture Oracle Data","width":560.0,"height":48.0,"style":{"background-color":"#b2f7e2","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"fe339387-0652-3915-86f8-da655791d3c3","position":{"x":2824.0,"y":480.0},"label":"Capture Oracle Schema","width":576.0,"height":56.0,"style":{"background-color":"#b2f7e2","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"}],"funnels":[],"controllerServices":[{"identifier":"aaaba9c2-888b-319d-9dd5-c42423f321e0","name":"AvroReader","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"d0184ab9-df3e-39bc-9c85-77547cea8de4","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"84cb2322-6aae-394d-ad98-ffebba841105","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"23471b7c-21ae-317d-a367-82bdff50ab30","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.driver.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1 as test from dual","Database Connection URL":"jdbc:oracle:thin:@143.198.122.36:1521/ORCLPDB1","dbcp-time-between-eviction-runs":"-1","Database User":"#{Oracle User}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{Oracle Jar}","dbcp-max-idle-conns":"8","Password":"#{Oracle Password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"},{"identifier":"da39bb1f-66d0-3e12-b2f7-55e732bd8028","name":"CDP_Schema_Registry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.15.0.2.3.3.1-2"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.0.2.3.3.1-2"}}],"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"b8eda2e8-1b5f-3939-9e3a-c9dea2f791a8","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9c5ad4ee-0668-3307-ba74-766c9ccf4a6e"}],"variables":{},"parameterContextName":"oracle-demo-params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"b8eda2e8-1b5f-3939-9e3a-c9dea2f791a8":{"identifier":"b8eda2e8-1b5f-3939-9e3a-c9dea2f791a8","name":"Default NiFi SSL Context Service"}},"parameterContexts":{"oracle-demo-params":{"name":"oracle-demo-params","parameters":[{"name":"Oracle Jar","description":"","sensitive":false,"value":"/nifi-flow-assets/oracle-demo-params/Oracle Jar/ojdbc8.jar@f0"},{"name":"CDP Workload User Password","description":"","sensitive":true},{"name":"CDP Workload User","description":"","sensitive":false,"value":"steven.matison"},{"name":"Schema Registry Hostname","description":"","sensitive":false,"value":"srm-demo-sm-master0.srm-demo.a465-9q4k.cloudera.site"},{"name":"Schema Registry API","description":"","sensitive":false,"value":"https://srm-demo-sm-gateway.srm-demo.a465-9q4k.cloudera.site/srm-demo-sm/cdp-proxy-api/schema-registry/api/v1"},{"name":"Oracle User","description":"","sensitive":false,"value":"ot"},{"name":"Oracle Password","description":"","sensitive":true},{"name":"Kafka Broker Host","description":"","sensitive":false,"value":"srm-demo-sm-corebroker0.srm-demo.a465-9q4k.cloudera.site"}],"inheritedParameterContexts":[]}},"flowEncodingVersion":"1.0"}