Working_with_TimeStamps.json
{"flowContents":{"identifier":"4aa68795-6e30-3348-8226-f41830a16b1f","instanceIdentifier":"4e0c6aba-9d07-3662-ba0c-73e3422d4a65","name":"Working with TimeStamps","comments":"","position":{"x":1186.0,"y":538.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f8e97fe5-04d3-3edb-98b2-561f0eebb38d","instanceIdentifier":"3f540095-ad6c-3cb8-3329-c46922328456","name":"UpdateAttribute","comments":"","position":{"x":331.00023657580823,"y":341.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0"},"properties":{"yesterday":"${now():minus(86400000):format('MM-dd-yyyy hh:mm:ss') }","daybefore":"${now():minus(86400000):minus(86400000):format('MM-dd-yyyy hh:mm:ss') }","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","today":"${now():format('MM-dd-yyyy hh:mm:ss') }","Stateful Variables Initial Value":null},"propertyDescriptors":{"yesterday":{"name":"yesterday","displayName":"yesterday","identifiesControllerService":false,"sensitive":false},"daybefore":{"name":"daybefore","displayName":"daybefore","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"today":{"name":"today","displayName":"today","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"ec34337f-ad42-3585-bae3-808f800a8f29","instanceIdentifier":"91543a78-e86d-1455-7469-9c6731faf03d","name":"UpdateAttribute","comments":"","position":{"x":1208.0,"y":344.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"input_date":"8/6/2023 12:46:00 am"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"input_date":{"name":"input_date","displayName":"input_date","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"96f8d422-5d5c-3393-b3df-3659f90ab564","instanceIdentifier":"91543a7d-e86d-1455-310b-9488cfbb32d0","name":"UpdateAttribute","comments":"","position":{"x":1224.0,"y":528.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","output_date":"${input_date:toDate(\"MM/dd/yyyy hh:mm:ss\"):format(\"yyyy-MM-dd HH:mm:ss\")}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"output_date":{"name":"output_date","displayName":"output_date","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"d3b7a039-632e-3dd3-971b-6b3497badbe6","instanceIdentifier":"d59bdf88-0599-38c2-af1c-d31c791d9716","name":"GenerateFlowFile","comments":"","position":{"x":564.0002365758082,"y":-45.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"994ea9ff-a267-3f76-90d2-da9c4bf5a650","instanceIdentifier":"04a6b5ba-8c38-3e13-363a-29b0cbe47088","name":"UpdateAttribute","comments":"","position":{"x":749.0000062582519,"y":343.00004580277607},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0"},"properties":{"input":"1589379890","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"input":{"name":"input","displayName":"input","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"cc64e4cc-1ed2-3ddb-90cb-ba5315750399","instanceIdentifier":"d5882b4d-b039-3b92-45e5-70c268e79785","name":"UpdateAttribute","comments":"","position":{"x":754.0000062582519,"y":536.0000458027761},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0"},"properties":{"test4":"${input:multiply(1000):format('yyyy', 'GMT') }","test2":"${input:multiply(1000):format('MM-dd-yyyy hh:mm:ss') }","Delete Attributes Expression":null,"test3":"${input:multiply(1000):format('yyyy') }","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"test1":"${input:format('MM-dd-yyyy hh:mm:ss') }"},"propertyDescriptors":{"test4":{"name":"test4","displayName":"test4","identifiesControllerService":false,"sensitive":false},"test2":{"name":"test2","displayName":"test2","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"test3":{"name":"test3","displayName":"test3","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"test1":{"name":"test1","displayName":"test1","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"}],"inputPorts":[],"outputPorts":[{"identifier":"3b740629-6a4a-3aa2-a3a3-d549a7bafb7b","instanceIdentifier":"0a66dd26-2395-3221-95fd-8f080b13b04b","name":"output","comments":"","position":{"x":379.00023657580823,"y":607.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"aa095129-95ea-3576-90cb-970d131b1878","instanceIdentifier":"dc042902-d5bf-3999-1438-057e61b95e19","name":"output2","comments":"","position":{"x":824.0,"y":776.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"92f3b1df-0193-3bd2-b3d8-e258df361420","instanceIdentifier":"91543a7e-e86d-1455-1f10-e77439b0fbb6","name":"output3","position":{"x":1272.0,"y":768.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"}],"connections":[{"identifier":"3556afea-e9ed-3bad-b208-18f272c61c93","instanceIdentifier":"327df7f2-0572-3b74-59aa-73adf27bb037","name":"","source":{"id":"cc64e4cc-1ed2-3ddb-90cb-ba5315750399","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"d5882b4d-b039-3b92-45e5-70c268e79785"},"destination":{"id":"aa095129-95ea-3576-90cb-970d131b1878","type":"OUTPUT_PORT","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"output2","comments":"","instanceIdentifier":"dc042902-d5bf-3999-1438-057e61b95e19"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"9c709cb8-d4e3-369a-8b2d-692bf91bcc2d","instanceIdentifier":"91543a79-e86d-1455-a6dc-3a21ecd633ad","name":"","source":{"id":"d3b7a039-632e-3dd3-971b-6b3497badbe6","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d59bdf88-0599-38c2-af1c-d31c791d9716"},"destination":{"id":"ec34337f-ad42-3585-bae3-808f800a8f29","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"91543a78-e86d-1455-7469-9c6731faf03d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"f7f4c8ad-ec1c-356b-934c-9b7539c35e79","instanceIdentifier":"91543a80-e86d-1455-772e-8c4c7dd2a4d1","name":"","source":{"id":"96f8d422-5d5c-3393-b3df-3659f90ab564","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"91543a7d-e86d-1455-310b-9488cfbb32d0"},"destination":{"id":"92f3b1df-0193-3bd2-b3d8-e258df361420","type":"OUTPUT_PORT","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"output3","instanceIdentifier":"91543a7e-e86d-1455-1f10-e77439b0fbb6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"d4cab15c-d6b2-327a-a1a7-d3ef65c082a8","instanceIdentifier":"34265928-d699-3b0d-fee4-146bc20c5135","name":"","source":{"id":"994ea9ff-a267-3f76-90d2-da9c4bf5a650","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"04a6b5ba-8c38-3e13-363a-29b0cbe47088"},"destination":{"id":"cc64e4cc-1ed2-3ddb-90cb-ba5315750399","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"d5882b4d-b039-3b92-45e5-70c268e79785"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"cc651652-b316-30d1-8c02-60c38f0c2f12","instanceIdentifier":"91543a81-e86d-1455-0c2c-9889224802e1","name":"","source":{"id":"ec34337f-ad42-3585-bae3-808f800a8f29","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"91543a78-e86d-1455-7469-9c6731faf03d"},"destination":{"id":"96f8d422-5d5c-3393-b3df-3659f90ab564","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"91543a7d-e86d-1455-310b-9488cfbb32d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"e55ee3b9-ea33-365c-bebb-c3e52a09a81d","instanceIdentifier":"75f42710-54c3-32dd-eedb-b44c2d4ed9b4","name":"","source":{"id":"d3b7a039-632e-3dd3-971b-6b3497badbe6","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d59bdf88-0599-38c2-af1c-d31c791d9716"},"destination":{"id":"f8e97fe5-04d3-3edb-98b2-561f0eebb38d","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"3f540095-ad6c-3cb8-3329-c46922328456"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"f85c7d91-3a95-34b8-b7d9-76a430b4d243","instanceIdentifier":"6cc359c1-9184-300c-1321-83307e26531a","name":"","source":{"id":"d3b7a039-632e-3dd3-971b-6b3497badbe6","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d59bdf88-0599-38c2-af1c-d31c791d9716"},"destination":{"id":"994ea9ff-a267-3f76-90d2-da9c4bf5a650","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"04a6b5ba-8c38-3e13-363a-29b0cbe47088"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"180b4f83-c8d0-321d-b822-316338d57009","instanceIdentifier":"5b1bb715-3402-3955-1ae2-b225fc229f78","name":"","source":{"id":"f8e97fe5-04d3-3edb-98b2-561f0eebb38d","type":"PROCESSOR","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"UpdateAttribute","comments":"","instanceIdentifier":"3f540095-ad6c-3cb8-3329-c46922328456"},"destination":{"id":"3b740629-6a4a-3aa2-a3a3-d549a7bafb7b","type":"OUTPUT_PORT","groupId":"4aa68795-6e30-3348-8226-f41830a16b1f","name":"output","comments":"","instanceIdentifier":"0a66dd26-2395-3221-95fd-8f080b13b04b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"}],"labels":[{"identifier":"cb0741ad-edfb-3ba4-a392-81f333a0874d","instanceIdentifier":"8bf6afcd-627a-3a81-fb17-f9b1d67b6ddf","position":{"x":912.0,"y":280.0},"label":"Unix Timestamp","zIndex":0,"width":205.0,"height":54.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"6e7c0c76-4793-3ef7-8e3f-cd0fd0f623eb","instanceIdentifier":"91543a7b-e86d-1455-0586-2c2b34148244","position":{"x":1232.0,"y":256.0},"label":"Date Format Change","zIndex":0,"width":205.0,"height":54.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"},{"identifier":"bf5bc70d-1c67-34dd-8618-020d8ea579a9","instanceIdentifier":"fbc4a077-0983-3add-3617-e709754c7d11","position":{"x":313.0000062582519,"y":268.00004580277607},"label":"Today / Yesterday from Now","zIndex":0,"width":430.17259216308594,"height":55.04246520996094,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"4aa68795-6e30-3348-8226-f41830a16b1f"}],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}